{#
  ./templates/posts/index.html.twig
  Variables disponibles:
    - posts Array(Page(id, titre, slug, texte, dateCreation))
#}



<div class="col-sm-6 featured-news">
  <h2>{{ 'accueil.blog' | trans }}</h2>
  {% for post in posts %}
  <div class="row">
    <div class="col-xs-4"><a href="{{path('app_posts_show', {id: post.id , slug: attribute(post, 'nom' ~ app.request.locale) | slugify})}}"><img src="{{ asset('img/blog/'~ post.image ~ '')}}" alt="{{ attribute(post, 'nom' ~ app.request.locale) }}"></a></div>
      <div class="col-xs-8">
        <div class="caption"><a href="{{path('app_posts_show', {id: post.id , slug: attribute(post, 'nom' ~ app.request.locale) | slugify})}}">{{ attribute(post, 'nom' ~ app.request.locale) }}</a></div>
        <div class="date">{{ post.date | date('d-m-Y') }}</div>
        <div class="intro">{{attribute(post, 'texteone' ~ app.request.locale) | slice(0,150)}}...<a href="{{path('app_posts_show', {id: post.id , slug: attribute(post, 'nom' ~ app.request.locale) | slugify})}}">{{ 'accueil.plus' | trans }}</a></div>
      </div>
    </div>

{% endfor %}
</div>
