{#
  ./templates/posts/show.html.twig
  Variables disponibles:
    - Post (id, nomfr, nomen, titreonefr, titreoneen, titretwofr, titretwoen, texteonefr, texteoneen, textetwofr, textetwoen, date, imageName, Array tags)
#}

{% extends 'base.html.twig' %}

{% block title %}
  {{ attribute(post, 'nom' ~ app.request.locale) }}
{% endblock %}

{% block content1 %}

  <div class="section section-breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ 'blog_detail.titre' | trans }}</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <!-- Blog Post -->
        <div class="col-sm-8">
          <div class="blog-post blog-single-post">
            <div class="single-post-title">
              <h2>{{ attribute(post, 'nom' ~ app.request.locale) }}</h2>
            </div>

            <div class="single-post-image">
              <img src="{{ asset('img/uploads/'~ post.imageName ~ '')}}" alt="Post Title">
            </div>
            <div class="single-post-info">
              <i class="glyphicon glyphicon-time"></i>{{ post.date | date('d-m-Y') }}
              <a href="#" title="Show Comments">
                <i class="glyphicon glyphicon-comment"></i>11</a>
            </div>
            <div class="single-post-content">
              <h3>{{ attribute(post, 'titreone' ~ app.request.locale) }}</h3>
              <p>{{ attribute(post, 'texteone' ~ app.request.locale) | raw }}</p>
              <h3>{{ attribute(post, 'titretwo' ~ app.request.locale) }}</h3>
              <p>{{ attribute(post, 'textetwo' ~ app.request.locale) | raw }}</p>
            </div>
          </div>
        </div>
        <!-- End Blog Post -->
        <!-- Sidebar -->
        <div class="col-sm-4 blog-sidebar">

          <h4>{{ 'blog_detail.recent' | trans }}</h4>
          {{ render(controller('App\\Controller\\PostController::indexAction', {limit: 4, vue: 'listeCourte'})) }}

          <h4>{{ 'blog_detail.categorie' | trans }}</h4>
          {{ render(controller('App\\Controller\\CategoryController::indexAction')) }}

        </div>
        <!-- End Sidebar -->
      </div>
    </div>
  </div>
{% endblock %}
