{#
  ./templates/pages/show.html.twig
  Variables disponibles:
    - page pages(id, titre, slug, texte, dateCreation)
#}

{% extends 'base.html.twig' %}

  {% block title %}
    {{ attribute(page, 'titre' ~ app.request.locale) }}
  {% endblock %}



{% block content1 %}


{# CONTENUS COMPLEMENTAIRES #}

  {% if page.id == 1 %}

  {{ render(controller('App\\Controller\\WorkController::indexAction',{limit: 3, vue:'slider'})) }}
  {{ render(controller('App\\Controller\\WorkController::indexAction',{limit: 6, vue:'liste'})) }}
  <hr>
  <div class="section">
    <div class="container">
      <div class="row">
        {{ render(controller('App\\Controller\\PostController::indexAction',{limit: 3, vue:'liste'})) }}
        <div class="col-sm-6 latest-news">
          <h2>{{ 'accueil.reseau' | trans }}</h2>
          <div class="row">
            <div class="col-sm-12">
              <div class="caption"><a href="full-width.html">Donec elementum mi vitae enim fermentum lobortis.</a></div>
              <div class="date">16 May 2013 </div>
              <div class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. <a href="full-width.html">Read more...</a></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="caption"><a href="full-width.html">In hac habitasse platea dictumst.</a></div>
              <div class="date">14 May 2013 </div>
              <div class="intro">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="full-width.html">Read more...</a></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="caption"><a href="full-width.html"> Nam condimentum laoreet sagittis.</a></div>
              <div class="date">14 May 2013 </div>
              <div class="intro">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="full-width.html">Read more...</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  {% elseif page.id == 2 %}

  {{ render(controller('App\\Controller\\WorkController::indexAction', {limit:6})) }}


  {% elseif page.id == 3 %}

  {{ render(controller('App\\Controller\\PostController::indexAction', {limit:4})) }}


  {% elseif page.id == 4 %}

  {{ render(controller('App\\Controller\\PageController::showAction', {id:4, vue:'contact'})) }}

{% endif %}



{% endblock %}
