{#
  ./templates/pages/show.html.twig
  Variables disponibles:
    - Page(id, titrefr, titreen, slugfr, slugen)
#}

{% extends 'base.html.twig' %}

  {% block title %}
    {{ attribute(page, 'titre' ~ app.request.locale) }}
  {% endblock %}



{% block content1 %}


{# CONTENUS COMPLEMENTAIRES #}

  {% if page.id == 1 %}

  {{ render(controller('App\\Controller\\WorkController::sliderAction',{vue:'slider'})) }}
  {{ render(controller('App\\Controller\\WorkController::indexAction',{limit: 6, vue:'liste'})) }}
  <hr>
  <!-- Twitter block  -->
  <div class="section">
    <div class="container">
      <div class="row">
        {{ render(controller('App\\Controller\\PostController::indexAction',{limit: 3, vue:'liste'})) }}
        <div class="col-sm-6 latest-news">
                <h2>{{ 'accueil.reseau' | trans }}</h2>
                <a class="twitter-timeline"
                data-height="50"
                 href="https://twitter.com/realDonaldTrump"
                 data-chrome = "noheader nofooter"
                 data-link-color="#AEC62C"
                 data-border-color = "#AEC62C"
                 data-tweet-limit="3"></a>
                 <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
      </div>
    </div>
  </div>
  <!-- End of Twitter block -->


  {% elseif page.id == 2 %}

  {{ render(controller('App\\Controller\\WorkController::indexAction', {limit:6})) }}


  {% elseif page.id == 3 %}

  {{ render(controller('App\\Controller\\PostController::indexActionPage', {vue: 'index', limit:4})) }}


  {% elseif page.id == 4 %}

  {{ render(controller('App\\Controller\\PageController::showAction', {id:4, vue:'contact'})) }}

{% endif %}



{% endblock %}
