{#
  ./templates/pages/show.html.twig
  Variables disponibles:
    - page pages(id, titre, slug, texte, dateCreation)
#}

{% extends 'base.html.twig' %}

{% block title %}
  {{ attribute(category, 'nom' ~ app.request.locale) }}
{% endblock %}

{% block content1 %}
  <div class="section section-breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ 'category.titre' | trans }}:
            {{ attribute(category, 'nom' ~ app.request.locale) }}</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        {% for post in category.posts %}
          <!-- Blog Post Excerpt -->
          <div class="col-sm-6">
            <div class="blog-post blog-single-post">
              <div class="single-post-title">
                <h2>{{ attribute(post, 'nom' ~ app.request.locale) }}</h2>
              </div>

              <div class="single-post-image">
                <img src="{{ asset('img/uploads/'~ post.imageName ~ '')}}" alt="{{ attribute(post, 'nom' ~ app.request.locale) }}">
              </div>

              <div class="single-post-info">
                <i class="glyphicon glyphicon-time"></i>{{ post.date | date('d-m-Y') }}
                <a href="#" title="Show Comments">
                  <i class="glyphicon glyphicon-comment"></i>11</a>
              </div>

              <div class="single-post-content">
                <p>
                  {{attribute(post, 'texteone' ~ app.request.locale) | slice(0,250) | raw }}
                </p>
                <a href="{{path('app_posts_show', {id: post.id , slug: attribute(post, 'nom' ~ app.request.locale) | slugify})}}" class="btn">{{ 'blog.plus' | trans }}</a>
              </div>
            </div>
          </div>
          <!-- End Blog Post Excerpt -->
        {% endfor %}
      </div>
    </div>
  </div>
      {% endblock %}
