<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ 'portfolio.titre1' | trans }}</h1>
      </div>
    </div>
  </div>
</div>


<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>{{ 'portfolio.titre2' | trans }}</h2>
        <h3>{{ 'portfolio.titre3' | trans }}</h3>
        <p>
        {{ 'portfolio.texte' | trans }}
        </p>

      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">

      <ul class="grid cs-style-2">
        {% for work in works %}
        <div class="col-md-4 col-sm-6">
          <figure>
            <a href="{{path('app_works_show', {id: work.id , slug: attribute(work, 'nom' ~ app.request.locale) | slugify})}}">
              <img src="{{ asset('img/uploads/'~ work.imageName ~ '')}}" alt="{{'img/uploads/'~ work.imageName ~ ''}}">
            </a>
            <figcaption>
              <h3>{{ attribute(work, 'nom' ~ app.request.locale) }}</h3>
              <span>{{ work.client.nom }}</span>
              <a href="{{path('app_works_show', {id: work.id , slug: attribute(work, 'nom' ~ app.request.locale) | slugify})}}">{{ 'portfolio.look' | trans }}</a>
            </figcaption>
          </figure>
        </div>
        {% endfor %}
      </ul>


    </div>

    <ul class="pager">
      <li><a href="#">{{ 'portfolio.plus' | trans }}</a></li>
    </ul>

  </div>
</div>
