{#
  ./templates/pages/show.html.twig
  Variables disponibles:
    - page pages(id, titre, slug, texte, dateCreation)
#}

        <ul class="grid cs-style-2">
          {% for work in tag.works %}
            <div class="col-md-4 col-sm-6">
              <figure>
                <a href="{{path('app_works_show', {id: work.id , slug: attribute(work, 'nom' ~ app.request.locale) | slugify})}}">
                  <img src="{{ asset('img/portfolio/'~ work.image ~ '')}}" alt="{{'img/portfolio/'~ work.image ~ ''}}">
                </a>
                <figcaption>
                  <h3>{{ attribute(work, 'nom' ~ app.request.locale) }}</h3>
                  <span>{{ work.client.nom }}</span>
                  <a href="{{path('app_works_show', {id: work.id , slug: attribute(work, 'nom' ~ app.request.locale) | slugify})}}">{{ 'portfolio.look' | trans }}</a>
                </figcaption>
              </figure>
            </div>
          {% endfor %}
        </ul>
